body {
    background-image: url("../images/fond_titre.png");
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

h1 {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-size: 4rem;
    color: black;
}
h2 {
    color: pink;
}
.liens {
    font-family: "lora" , Serif;
}

p.intro {
    color: darkblue;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    border-top: 2px darkblue dashed;
    border-bottom: 2px darkblue dashed;
    border-right: 2px darkblue dashed;
    border-left: 2px darkblue dashed;
    display: inline-block;

}

img{
    max-width: 100%;
    height: auto;
    width: 250px;
}

ul {
    color: darkslategray;
    display : inline-block;
    margin :auto;
    text-align:left;
    font-family: "Roboto Condensed" , sans-serif;

}
p {
    color: darkslategray;
}
